body{
    background-color: #F0F0F7;
}
nav{
    display: flex;
    flex-direction: column;
}
img {
    background-color: transparent;
}
h1{
    color: #000;
}
h2{
    font-size: 50px;
    color: #402E56;
    margin: auto;
}
h3{
    font-size: 20px;
    color: #402E56;
    margin: auto;
}
a{
    cursor: pointer;
    text-decoration: none;
}
.naast{
    display: flex;
    flex-direction: row;
}
.onder{
    display: flex;
    flex-direction: column;
}
.header_boven{
    height: 60px;
    width: auto;
}
.ruimte_tussen_header{
    height: auto;
    width: 600px;
}
.logo_roc{
    height: 93.5px;
    width: 128px;
    position: relative;
    margin-left: 60px;
    margin-top: 20px;
}
.header_ruimte_tussen{
    gap: 20px;
}
.header_onder{
    height: 90px;
    width: auto;
    background-color: #FFF;
}
.laptop_eisen_stuk{
    margin-left: 75px;
    width: 750px;
    height: 400px;
    background-color: #FFFF;
    border-radius: 32px;
    border: solid #402E56;
}
.container_kennis {
    margin-left: 75px;
    width: 750px;
    height: 430px;
    background-color: #FFFF;
    border-radius: 32px;
    border: solid #402E56;
}
.doorzichtige_balk{
    width: auto;
    height: 200px;
    background-color: #F0F0F7;
}
.text_meeloopdagen{
    margin-left: 15px;
    font-family: "Montserrat", sans-serif;
}
.text_meeloopdagen1{
    margin-left: 100px;
    font-family: "Montserrat", sans-serif;
}
.waar_opendagen{
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
    margin-top: 70px;
}
.tekst_meelopen{
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
}
.tekst_meelopen2{
    margin-left: 17px;
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
}
.tekst_meelopen1{
    margin-left: 17px;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
}
.tekst_normen{
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
    margin-top: 50px;
}
.meeloopdagen_stuk{
    width: 600px;
    height: auto;
    background-color: #fff;
    margin-left: 75px;
    border-radius: 32px;
    border: solid #402E56;
    padding: 15px;
}
.meeloopdagen_stuk h3{
    color: #000;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
.wanneer_meelopen h3{
    color: #000;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
.maps_roc{
    width: 60%;
    height: auto;
    cursor: pointer;
    display: block;
    margin: auto;
    border-radius: 30px;
    border: #402E56;
    border-width: 5px;
    border-style: solid;
}
.ruimte_tussen_route{
    height: 20px;
    width: auto;
}
.plattegronden_lijst{
    display: flex; 
    flex-wrap: wrap;
    margin: auto;
    margin-top: 30px;
    gap: 50px;
    height: auto;
    width: auto;
    padding: 30px;
    background-color: #FFF;
    border-radius: 15px;
    border: #402E56;
    border-style: solid;
    border-width: 2px;
}
.plattegronden{
    height: 440px;
    width: 530px;

}