body{
    background-color: #F0F0F7;
}
nav{
    display: flex;
    flex-direction: column;
}
img {
    background-color: transparent;
}
h1{
    color: #000;
}
h2{
    font-size: 50px;
    color: #402E56;
    margin: auto;
}
h3{
    font-size: 20px;
    color: #402E56;
    margin: auto;
}
a{
    cursor: pointer;
    text-decoration: none;
}
.naast{
    display: flex;
    flex-direction: row;
}
.onder{
    display: flex;
    flex-direction: column;
}
.header_boven{
    height: 60px;
    width: auto;
}
.ruimte_tussen_header{
    height: auto;
    width: 600px;
}
.logo_roc{
    height: 93.5px;
    width: 128px;
    position: relative;
    margin-left: 60px;
    margin-top: 20px;
}
.header_ruimte_tussen{
    gap: 20px;
}
.header_onder{
    height: 90px;
    width: auto;
    background-color: #FFF;
    margin-bottom: 20px;
}
.maps_roc{
    width: 60%;
    height: auto;
    cursor: pointer;
    display: block;
    margin: auto;
    border-radius: 30px;
    border: #402E56;
    border-width: 5px;
    border-style: solid;
}
.ruimte_tussen_route{
    height: 20px;
    width: auto;
}
.plattegronden_lijst{
    display: flex; 
    flex-wrap: wrap;
    margin: auto;
    margin-top: 30px;
    gap: 50px;
    height: auto;
    width: auto;
    padding: 30px;
    background-color: #FFF;
    border-radius: 15px;
    border: #402E56;
    border-style: solid;
    border-width: 2px;
}
.plattegronden{
    height: 440px;
    width: 530px;
}